.top-nav {
  background-color: #642912;
  color: rgb(212, 204, 204);
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 0;
}
.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  z-index: 9;
}

.top-nav ul {
  display: flex;
  justify-content: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav li {
  margin-right: 20px;
}

.top-nav span {
  display: block;
  font-size: 0.9em;
  font-weight: lighter;
}
.centered {
  text-align: center;
}
.logo {
  margin: 2px;
  font-size: medium;
  color: rgb(71, 70, 70);
  justify-content: center;
  align-items: center;
}

/* Main navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a4717;
  color: aliceblue;
  padding: 20px;
}

.main-nav img {
  width: 150px;
}
.logo {
  width: 100%;
}
.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin-left: 30px;
  font-size: 1.2em;
  cursor: pointer;
}

.main-nav li:hover {
  color: #004080;
}
input[type="text"] {
  width: 300px;
  padding: 8px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--dark-blue);
    padding: 1rem;
    z-index: 999;
    transform: translateX(-200%);
    transition: all 0.3s;
    justify-content: center;
  }

  nav .nav-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX();
    transition: all 0.3s;
    justify-content: center;
  }

  nav .show-nav-wrapper {
    transform: translateX(100%);
  }

  nav ul {
    display: block;
  }
  nav ul li {
    padding: 5px 0;
    border-bottom: 1px solid #333;
  }

  nav ul li a {
    display: block;
  }

  .top-nav ul {
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

  .top-nav li {
    margin-right: 0;
    margin-bottom: 0.5em;
  }

  .main-nav {
    flex-direction: column;
    padding: 10px;
  }

  .main-nav img {
    width: 120px;
  }
  .logo {
    width: 100%;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .main-nav li {
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 1em;
  }

  input[type="text"] {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .show-nav {
    transform: translateX(0);
  }

  .hide-nav {
    transform: translateX(-200%);
  }

  .menu-icon {
    display: flex;
  }

  .menu-icon > * {
    margin-left: 1rem;
  }
  .active {
    position: relative;
    color: var(--color-danger);
  }

  .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
}

@media (max-width: 480px) {
  .top-nav {
    padding: 10px;
  }

  .main-nav {
    padding: 10px;
  }

  .main-nav img {
    width: 100px;
  }
  .logo {
    width: 100%;
  }

  .main-nav li {
    font-size: 0.9em;
  }
}
